COMPOSE_PROJECT_NAME=heappe
INSTANCE_NAME=Development

## HashiCopr Vault 
## VAULT_FILE will be created with name {INSTANCE_NAME}_credentials at VAULT_FILE_DIR_PATH
VAULT_FILE_DIR_PATH=/opt/heappe/projects/
## to use existing ansible vault file set to true, but it must exist
SHARED_VAULT_FILE=false
SHARED_VAULT_FILE_NAME=credentials_test
VAULT_PASSWORD="enter_as_ENV_argument_or_insert_there"
BASE_PATH=/opt/heappe/projects/${INSTANCE_NAME}/app/confs

HOST_SSHAGENT_NAME=sshagent
HOST_SSHAGENT_HOST_MAP_FOLD_PATH=/opt/heappe/projects/${INSTANCE_NAME}/ssh_agent/keys
HOST_SSHAGENT_CONTAINER_MAP_FOLD_PATH=/opt/heappe/sshagent_keys:ro

HOST_MSSQL_NAME=mssql
HOST_MSSQL_PORT=6000
HOST_MSSQL_PASSWORD="MODIFY_THIS"

HOST_APP_NAME=HEAppE
HOST_APP_PORT=5000
HOST_APP_HOST_MAP_FOLD_NAME=/opt/heappe/projects/${INSTANCE_NAME}/app
HOST_APP_CONTAINER_MAP_FOLD_PATH=/opt/heappe

HOST_DATA_STAGING_NAME=DataStaging
HOST_DATA_STAGING_PORT=5001
HOST_DATA_STAGING_HOST_MAP_FOLD_NAME=/opt/heappe/projects/${INSTANCE_NAME}/app
HOST_DATA_STAGING_CONTAINER_MAP_FOLD_PATH=/opt/heappe

