variables:
  HEAPPE_IMAGE_DEV_NAME: ${HEAPPE_IMAGE_NAME}:dev-latest
  SSHAGENT_IMAGE_DEV_NAME: ${SSHAGENT_IMAGE_NAME}:dev-latest


heappe_build_development:
  stage: build
  image: docker:latest
  script:
    - echo "Building Docker HEAppE image..."
    - docker build --no-cache -f ./RestApi/Dockerfile -t "${HEAPPE_IMAGE_DEV_NAME}"  .

    - echo "Tagging the Docker image..."
    - docker tag "${HEAPPE_IMAGE_DEV_NAME}" "$CI_REGISTRY_IMAGE/${HEAPPE_IMAGE_DEV_NAME}"

    - echo "Pushing image to registry."
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push "$CI_REGISTRY_IMAGE/${HEAPPE_IMAGE_DEV_NAME}"
  before_script:
    - apk update
    - docker --version
    - docker image prune
  tags:
    - Docker
    - Centos9
    - IT4I_Network
  only:
    - develop
     
sshagent_build_development:
  stage: build
  image: docker:latest
  script:
    - echo "Building Docker SSH-Agent image..."
    - docker build --no-cache -f ./RestApi/Dockerfile -t "${SSHAGENT_IMAGE_DEV_NAME}"  .

    - echo "Tagging the Docker image..."
    - docker tag "${SSHAGENT_IMAGE_DEV_NAME}" "$CI_REGISTRY_IMAGE/${SSHAGENT_IMAGE_DEV_NAME}"
    - echo "$CI_REGISTRY_IMAGE"
    - echo "Pushing image to registry."
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push "$CI_REGISTRY_IMAGE/$SSHAGENT_IMAGE_DEV_NAME"
  before_script:
    - unset DOCKER_HOST
    - apk update
    - docker --version
    - docker image prune
  tags:
    - Docker
    - Centos9
    - IT4I_Network
  only:
    - develop