/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

div#testPageBox button,
div#testPageBox a {
    width: 100%;
    margin-bottom: 0.5rem;
}

div#testPageBox h2,
div#testPageBox h3{
    text-align: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
     Hide captions 
    .carousel-caption {
        display: none;
    }
}

.bigger-text {
    font-size: 1.5rem;
}

form div.row div.col input {
    width: 100%;
}

.oidc-box textarea {
    width: 100%;
    box-sizing: border-box;
}